<h1> w o r k s </h1>

<div class="row">
  <% @works.each do |work| %>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="<%= work.media_type %>">
      </a>
    </div>
  <% end %>

</div>








<% if can? :create, Work %>
<%= link_to "add work", new_work_path %>
<% end %>
