<h1 class="center-align"> r e c e n t  u p l o a d s </h1>

<div class="row">
  <% @works.each do |work| %>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="<%= work.media_type %>">
        <%= link_to work.title, work_path(work) %>
      </a>
    </div>
  <% end %>

</div>










<% if can? :create, Work %>
<%= link_to "add work", new_work_path %>
<% end %>
