<h1> w o r k s </h1>

<!-- <%= image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %> -->

<ul class="list-group">
  <% @digs.each do |work| %>
    <li class="list-group-item"><%= link_to work.title, work_path(work) %></li>
  <% end %>
</ul>
