<h1> works </h1>

<ul class="list-group">
  <% @recent_works.each do |work| %>
    <li class="list-group-item"><%= link_to work.title, work_path(work) %></li>
  <% end %>
</ul>

<%= link_to "add work", new_work_path %>
